<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasyImgur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasyImgur.Properties.Settings>
            <setting name="clearClipboardOnUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="accountInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="copyLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="titleFormat" serializeAs="String">
                <value>%filename%</value>
            </setting>
            <setting name="descriptionFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="imageFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="accessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="refreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="showNotificationOnTokenRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableContextMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uploadMultipleImagesAsGallery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="copyHttpsLinks" serializeAs="String">
                <value>False</value>
            </setting>
        </EasyImgur.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
